/*	
	Side Navigation Menu V2, RWD
	===================
	Author: https://github.com/pablorgarcia
 */

 * {
   box-sizing: border-box;
   padding:0;
   margin:0;
 }


 tr {
  font-size: 1.5rem;

 }
 body {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif;
   font-weight: 300;
   line-height: 1.42em;
   color:#A7A1AE;
 }
 .light {
  /*background-color: #f4fbff;*/
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 100%;
  transition: .9s;
 }

 .dark {
  /*background-color:#1F2739;*/
    /* background-color: #1F2739; */
    background-color: rgb(20 20 23);
    transition: .8s;
    aspect-ratio: 100 / 29;
/*     position: absolute;
    width: 100%;
    top: 0;
    left: 0; */
 }

 .lightMode {
  color : #1F2739 ;
 }

 .img-container {
  width: 1.8rem;
 }


 .img-container img{
  width: 100%;
 }

 h1 {
   font-size:3em; 
   font-weight: 300;
   line-height:1em;
   text-align: center;
   text-transform: capitalize;
   color: #4DC3FA;
 }
 
 h2 {
   font-size:1em; 
   font-weight: 300;
   text-align: center;
   display: block;
   line-height:1em;
   padding-bottom: 2em;
   color: #FB667A;
 }
 
 h2 a {
   font-weight: 700;
   text-transform: uppercase;
   color: #FB667A;
   text-decoration: none;
 }

 .containerCharts {
   height: 81rem;
  width: 100%;
  margin-top: 6rem;
  padding: 2rem 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


.chart1 {
  margin-bottom: 4.5rem;
}

.chart1,.chart2 {
  margin: 2.5rem 0;
  width: 60rem;
  height: 40rem ;
}


.chart-title {
    margin-bottom: -2rem;
    text-transform: capitalize;
    color: #616161;
    font-size: 23.5px;
}


 .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .header .second-section .darkMode {
   width: 50px;
   margin-right: 1rem;
 }

 .header .second-section .lightMode {
  width: 50px;
 }
 .header .second-section .darkMode img{
   width: 100%;
 }

 .header .second-section .lightMode img{
  width: 100%;
 }

 .second-section {
  display: flex;
  position: relative;
  top: 27px;
 }

 .blue { color: #185875; }
 .yellow { color: #FFF842; }
 
 .container th h1 {
     font-weight: bold;
     font-size: 1em;
   text-align: left;
   color: #dbdbdb;
   cursor: pointer;
 }

 .initial {
  color: #dbdbdb;
 }
 
/*  .loadingBox {
   position: absolute;
    left:0
 } */
 .container td {
     font-weight: normal;
     font-size: 1em;
/*    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
      -moz-box-shadow: 0 2px 2px -2px #0E1119;
           box-shadow: 0 2px 2px -2px #0E1119; */
           -webkit-box-shadow: 0 2px 2px -2px #b6b6b6;
           -moz-box-shadow: 0 2px 2px -2px #b6b6b6;
                box-shadow: 0 2px 2px -2px #b6b6b6;
          }

 .container td.active {
  cursor: pointer;
 }

 .container td.active:hover {
   font-size: 28px;
   transition: .5s;
 }
 
 .container {
/*     overflow: hidden; */
    max-width: 97%;
    padding: 5rem;
    margin: 0 auto;
    padding: 3rem 0.5rem;
 }
 
 .container td, .container th {
    padding:1rem;
 }
 
.lightModeTr:nth-child(even) {
  background: #f7f7f7 !important;
}

 .lightModeTr {
  background-color: #fff !important;
  color: #333;
}


 /* Background-color of the odd rows */
 .container tr:nth-child(odd) {
     background-color: #151515;
 }
.footerLinks {
  font-size: 17px;
  text-decoration: none;
  color: inherit;
  margin:0 .5rem ;

}

 
 /* Background-color of the even rows */
 .container tr:nth-child(even) {
     background-color: #141414;
 }
 .second-section {
  display: flex;

}


li {
  list-style: none;
}


 .First-title {
  text-transform: capitalize;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}

 .First-title:before {
  position: absolute;
  content: "";
  width: 13%;
  background: #00ffbf;
  height: 3px;
  border-radius: 4px;
  top: 43px;
  left: 43%;
}
.country-name {
  cursor: pointer;
}
.country-name:hover {
  font-size: 31px;
}

 .table-container {
  margin-top: 3.5rem;
 }
/*  .container td:first-child { color: #FB667A; } */
 
 .container tr:hover {
    background-color: rgb(31, 31, 31);
 -webkit-box-shadow: 0 6px 6px -6px #0E1119;
      -moz-box-shadow: 0 6px 6px -6px #0E1119;
           box-shadow: 0 6px 6px -6px #0E1119;
 }

  .lightModeH1{
    color: #333 !important ;
  }

 .titles h1 {
/*   background:#282828 ; */
  color: #333;
 }

 .titles h1 {
   cursor: pointer;
 }

 .lightModeClass {
   color:"#bdbdbd" ;
 }



 .darkModeClass {
  color:"#4a5369" !important;
 }
 .allRightsContainer {
   display: flex;
   align-items: center;
 }
 .allRights {
   text-align: center;
 }

 /*extra small*/
 td {
  border-left: 0;
  border-right: 0;
 }

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
  .First-title {
    font-size: 1.5rem;
  }
  .container th h1,tr {
    font-size: .9rem;
  }
  .container td {
    padding:2px ;
  }
  .chart1,
  .chart2 {
    width: 31rem !important;
  }
  .containerCharts {
    height: 55rem;
  }
  .container {
    padding:1rem ;
    margin:0rem auto ;
    max-width: 100%;
  }

  td.active {
    font-weight: bold;
  }
 }

 @media (max-width: 575.98px) { 
  .container th h1,tr {
    font-size: .65rem;
  }
  .First-title {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .First-title::before {
    top: 25px;
  } 

.container th {
  padding:.18rem ;
}

  .chart1,.chart2 {
    width: 22rem !important;
  }

  .container {
    padding:0;
  }

}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .chart1,.chart2 {
    width: 42rem;
  }

  .container td.active:hover {
    font-size: 13px;
    transition: .5s;
  }


}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

}